@import url(./reset.css);

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');
/* font-family: 'Mulish', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;900&display=swap');
/* font-family: 'Playfair Display', serif; */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
/* font-family: 'Rochester', cursive; */



body{
	background: #F5F5F5;
	position: relative;
}

a {
	text-decoration: none;
	color:inherit;
}
a:hover {
	color: #EDA3B5;
	transition: all 0.15s;
}
li.hover-links:hover {
	color: #EDA3B5;
	transition: all 0.15s;
}

button {
	border: 0;
	cursor: pointer;
}


.footer-main {
	padding: 0 8px;
	background-color: #fff;
}
.copyright {
	margin: 0;
	padding: 0 8px;
	background: #E5E5EA;
}
.wrapper {
	max-width: 1126px;
	width: 100%;
	margin: 0 auto;
}
.header-body {
	margin: 0 8px;
}
.section-header {
	display: flex;
	height: 73px;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.logo-header {
font-family: 'Rochester';
font-weight: 400;
font-size: 32px;
line-height: 41px;
color: #1B2437;
}
hr {
	opacity: 0.2;
	height: 1px;
}
.hover-icons:hover {
	border-color: gray;
}

.icons-link {
	margin: 0 40px;
}
.icons-link_2 {
	margin: 0 30px;
}
nav {
	height: 79px;
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 37px;
	color: #000000;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-links {
	margin-left: 80px;
}
.nav-links:first-child {
	color: #EDA3B5;
	margin-left: 0;
}

.home::after {
	content: '';
	width: 34px;
	height: 3px;
	background: #EDA3B5;
	border-radius: 2px;
	display: inline-block;
	position: relative;
	left: -60px;
	bottom: -16px;
}


.main-page-full {
	background: url(../img/main_pic.png) 50%/auto 100% no-repeat;
	background-color: #b9adab;
	padding: 0 8px;
	margin-bottom: 70px;
}
.main-page-title {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 48px;
	line-height: 67px;
	color: #FFFFFF;
	max-width: 361px;
	padding-top: 103px;
}
.main-page-subtitle { 
	font-family: 'Mulish', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #FFFFFF;
	max-width: 446px;
	margin: 5px 0 34px 0;
}

.show-more-button {
	font-family: 'Mulish', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	color: #FFFFFF;
	background: #1B2437;
	border-radius: 15px;
	padding: 23px 78px;
	margin-bottom: 118px;
}

.collections {
	margin: 0 8px;
}

.collections-body {
	display: grid;
	gap: 30px;
	margin-bottom: 70px;
	height: 800px;
	/* grid-template-columns: minmax(445px, 458px); */
	/* grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr); */
	grid-template-columns: 445px;
	grid-template-rows: 225px 204px 313px;
}
.grid-elements {
	border-radius: 16px;
}

.grid1 {
	grid-area: 1 / 1 / 3 / 2;
	
	background: url(../img/1grid.png)100%/cover no-repeat;
	
}
.grid2 {
	 grid-area: 1 / 2 / 2 / 3 ;
	 background: #EFEFF4;
	 
}
.grid3 {
	grid-area: 1 / 3 / 2 / 4;
	background: url(../img/grid3.png) 100%/cover no-repeat ;
	
}
.grid4 {
	grid-area: 2 / 2 / 3 / 4;
	background: url(../img/grid4.png) 100%/cover no-repeat ;
	
}
.grid5 {
	grid-area: 3 / 1 / 4 / 4;
}

h3 {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 32px;
	line-height: 45px;
	color: #FFFFFF;
}



.grid1-subtitle {
	font-family: 'Mulish', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	color: #fff;
}

.black {
	color: #1B2437;
}

.firstGrid {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 30px;
	color: #FFFFFF;
	margin-top: 8px;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 8px;
	padding: 0 22px;
}

.gr1body {
	margin: 268px 0 0 32px;
}

.grid2body {
	margin: 53px 0 0 22px;
}
.grid3body {
	margin: 53px 0 0 39px;
}
.grid4body {
	margin: 64px 0 0 22px;
}

.grid5 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr 12px;
	align-items: center;
	background-color: #fff;
}

/* .grid5-articles:hover {
	background: gray;
	transition: all 0.3s;
} */

.grid-5-elements {
	height: 199px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: space-between;
}

.dots {
	justify-self: center;
	margin-top: -24px;
	grid-column: span 4;
}
.redDot {
	width: 12px;
	height: 12px;
	background: #EDA3B5;
	border-radius: 50%;
	display: inline-block;
	margin-right: 12px;
}
.whiteDots {
	width: 12px;
	height: 12px;
	background: #EFEFF4;
	border-radius: 50%;
	display: inline-block;
	margin-right: 12px;
}


.dot-button {
	overflow: hidden;
	background-color: transparent;
	padding: 0;
}

.lastDot {
	margin-right: 0;
}

.articles-title {
	font-family: 'Mulish', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	justify-self: center;
	vertical-align: bottom;
}

.youMayLike {
	font-family: 'Playfair Display', serif;
	font-weight: 600;
	font-size: 48px;
	line-height: 67px;
	color: #1B2437;
	margin-bottom: 35px;
}

.price {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 34px;
	line-height: 30px;
	color: #000000;
}

.you-may-likeSection {
	margin: 0 8px;
}

.articles-2-body {
	display: grid;
	grid-template-columns: repeat(auto-fill, 350px);
	grid-template-rows: repeat(2, 487px);
	gap: 30px;
	
}

.articles-2 {
	border-radius: 16px;
	background-color: #fff;
}

.shadowBox {
	box-shadow: 2px 5px 45px rgba(237, 163, 181, 0.25);
}
.art2-secTop {
	height: 270px;
	background: url(../img/art2-1.png) 100%/cover no-repeat;
	display: flex;
	justify-content: end;
}
.like {
	height: 44px;
	width: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.6);
	margin: 16px 16px 0 0;
}
.likebutt {
	margin:5px 0 0 1px;
}
.art2-title {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
}
.art2-subtitle {
	font-family: 'Mulish', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	max-width: 325px;
	margin-bottom: 27px;
}

.you-may-likeSection {
	margin-bottom: 70px;
}

.art2-bottomBody {
	margin: 16px 0 0 24px;
}

.bottomBody-last {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 18px;
}
.shopNow {
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	color: #FFFFFF;
	background: #EDA3B5;
	border-radius: 15px;
	padding: 13px 0;
	max-width: 153px;
	width: 100%;
	margin-right: 18px;
}

.otherCollorButt {
	background: #1B2437;
}

.secPic {
	background: url(../img/art2-2.png) 100%/cover no-repeat;
}
.thrdPic {
	background: url(../img/art2-3.png) 100%/cover no-repeat;
}

.contacts-sec {
	margin: 0 8px;
}

.contacts {
	font-family: 'Playfair Display', serif;
	font-weight: 600;
	font-size: 48px;
	line-height: 67px;
	color: #1B2437;
	margin-bottom: 35px;
}

.contacts-body {
	display: grid;
	background-color: #FFFFFF;
	padding: 12px 12px 25px 12px;
	border-radius: 16px;
	margin-bottom: 70px;
	grid-template-columns: repeat(3, 1fr);
}
.map {
	width: 100%;
	grid-column: span 3;
}

.contacts-email {
	grid-area: 2 / 1 / 3 / 2;
	justify-self: center;
}
.con-icons {
	margin: 27px 0 20px 0;
}

.contacts-titles {
	font-family: 'Mulish', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
}
.contacts-adress {
	grid-area: 2 / 2 / 3 / 3;
	justify-self: center;
}
.contacts-phone {
	grid-area: 2 / 3 / 3 / 4;
	justify-self: center;
}

.contacts_container {
	text-align: center;
}

.ft-sec1 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* grid-template-columns: 300px repeat(3, 1fr); */
	padding: 32px 0 28px 0;

}
.logo-footer {
	font-family: 'Rochester';
	font-weight: 400;
	font-size: 32px;
	line-height: 41px;
	color: #1B2437;
}
.fotter-subtitle {
	font-family: 'Playfair Display', serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #5C5C5C;
	margin-top: 20px;
	max-width: 255px;
	width: 100%;
}

.ft-title {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	margin-bottom: 22px;
	margin-top: 8px;
}

li {
	margin-bottom: 22px;
	font-family: 'Mulish', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	color: #8E8E93;
}

.ft-sec-1 {
	justify-self: center;
}
.ft-sec-2 {
	justify-self: center;
}
.ft-sec-3 {
	justify-self: center;
}

.copyright-body {
	display: flex;
	justify-content: space-between;
	padding: 22px 0;
}

.copyright-text {
	font-family: 'Mulish', sans-serif;
	font-weight: 700;
	font-size: 12px;
	line-height: 30px;
	color: #8E8E93;
}
.footer-icons {
	display: flex;
	align-items: center;
}