@import url(./reset.css);

@import url('https://fonts.cdnfonts.com/css/avenir-next-lt-pro?styles=15221,15219,29974');
/* font-family: 'Avenir Next LT Pro', sans-serif; */

@import url('https://fonts.cdnfonts.com/css/avenir-next-cyr?styles=17338,17329,17334,17336,17328,17331');
/* font-family: 'Avenir Next Cyr', sans-serif;
	font-family: 'Avenir Next Cyr Thin', sans-serif;
	font-family: 'Avenir Next Cyr Ultra Light', sans-serif;
	font-family: 'Avenir Next Cyr Light', sans-serif;
	font-family: 'Avenir Next Cyr Medium', sans-serif;
	font-family: 'Avenir Next Cyr Heavy', sans-serif; */

	@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9?styles=49034');
	/* font-family: 'Helvetica Neue', sans-serif; */

	@import url('https://fonts.cdnfonts.com/css/helvetica-255?styles=15805,15802');
	/* font-family: 'Helvetica', sans-serif;
		font-family: 'Helvetica Light', sans-serif; */

html {
	/* scroll-snap-type: x mandatory; */
	scroll-behavior: smooth;
}

body {
	background: #f8fbfd;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: inherit;
}

.wrapper {
	max-width: 1128px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
main {
	margin: 50px 8px 0;
}

.sticky_header {
	position: sticky;
	top: 0;
	z-index: 5;
}

header {
	display: flex;
	justify-items: center;
	margin: 0 auto;
}

button {
	cursor: pointer;
	transition: all 0.15s;
}

nav {
	max-width: 940px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.nav_container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.nav_title {
	display: flex;
	max-width: 322px;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	line-height: 160%;
	color: #4B5D68;
	font-family: 'Avenir Next Cyr Medium', sans-serif;
}


.about_span {
	font-family: 'Avenir Next Cyr Medium', sans-serif;
	font-weight: 600;
	line-height: 160%;
	color: #212353;
}

.nav_button {
	background: #FFFFFF;
	box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
	border-radius: 50px;
	border: 0;
	color: #212353;
	font-family: 'Avenir Next Cyr Medium', sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 160%;
	max-width: 210px;
	max-height: 60px;
	width: 100%;
	padding: 17px 29px;
	padding-right: 0;
	text-align: left;
}

.nav_button:hover {
	background-color: #d1d1d1;
	box-shadow: none;
}

.nav_button:active {
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(75, 93, 104, 0.1);
}

.first_button:after {
	content: '';
	background: url(../img/article_arrow.svg) 0 0/20px 20px no-repeat;
	padding-right: 29px;
	vertical-align: middle;
	margin-left: 20px;
}

.sec_1 {
	margin: 130px 0 200px 0;
}

.sec_2 {
	background: rgba(240, 99, 184, 0.15);
	border-radius: 50px;
	width: 100%;
	max-height: 560px;
	
}

h1 {
	font-family: 'Helvetica Neue', sans-serif;
	max-width: 645px;
	font-size: 80px;
	line-height: 110%;
	color: #212353;
}

.sec_1_subtitle {
	max-width: 380px;
	font-family: 'Avenir Next Cyr Medium', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	color: #4B5D68;
	font-style: normal;
	margin: 50px 0;
}

.sec_1_butt {
	font-family: 'Avenir Next Cyr Thin', sans-serif;
	background: #9C69E2;
	border-radius: 50px;
	border: 0;
	font-weight: 600;
	font-size: 18px;
	line-height: 160%;
	color: #FFFFFF;
	max-width: 170px;
	max-height: 60px;
	padding: 16px 35px;
}

.sec_1_butt:hover {
	background: #724da7;
}

.sec_1_butt:active {
	background: #af75ff;
	box-shadow: 0 0 5px rgb(46, 46, 46);
}

.sec_1_container {
	display: flex;
	position: relative;
}

.sec_1_title {
	z-index: 2;
}

.sec_1_img {
	position: absolute;
	right: -120px;
	bottom: -90px;
	z-index: 1;
}

.sec_2 {
	margin-bottom: 150px;
}

.sec_2_container {
	display: flex;
}

.sec_2_img {
	padding: 30px 0 25px 0;
}

.sec_2_titles {
	display: flex;
	flex-direction: column;
	justify-self: flex-end;
}

.sec_2_title {
	font-family: 'Helvetica Neue', sans-serif;
	margin: 125px 0 40px 0;
	max-width: 475px;
	font-weight: 700;
	font-size: 40px;
	line-height: 130%;
	color: #212353;
}

.sec_2_subtitle {
	max-width: 474px;
	font-family: 'Avenir Next Cyr Medium', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	color: #4B5D68;
	padding-right: 90px;
}

.sec_2_container {
	display: flex;
	justify-content: space-between;
}

.sec_3_container {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sec_3_title {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 700;
	font-size: 40px;
	line-height: 130%;
	color: #212353;
}

.sec_3_subtitle {
	margin: 50px 0 150px 0;
	max-width: 574px;
	font-family: 'Avenir Next Cyr Medium', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	color: #4B5D68;
}

.sec_4 {
	margin-bottom: 180px;
}

.sec_4_container {
	display: flex;
	flex-direction: column;
	height: 660px;
	justify-content: space-between;
}

article {
	display: flex;
}

.art_img {
	padding: 15px 25px 0 0;
	
}

h3 {
	font-family: 'Helvetica', sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 130%;
	color: #212353;
}

.art_subtitle {
	font-family: 'Avenir Next Cyr Thin', sans-serif;
	max-width: 220px;
	margin: 20px 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 180%;
	color: #4B5D68;
	display: flex;
	flex-grow: 1;
}

.learn_more_button {
	border: 0;
	background-color: transparent;
	padding: 0;
	font-family: 'Avenir Next Cyr Medium', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 160%;
	letter-spacing: 0.005em;
	color: #212353;
}

.learn_more_button:hover {
	text-decoration: underline;
}

.learn_more_button::after {
	content: '';
	background: url(../img/article_arrow.svg) 0 0/20px 20px no-repeat;
	padding-right: 29px;
	margin-left: 20px;
}



.art_1_2 {
	display: flex;
	justify-content: space-between;
}

.art_3_4 {
	display: flex;
	justify-content: space-between;
}

.art_1_title {
	display: flex;
	flex-direction: column;

}

.art3_img {
	padding-top: 60px;
}

.sec_5 {
	background: #9C69E2;
	border-radius: 50px;
	width: 100%;
	margin-bottom: 150px;
	display: flex;
	justify-content: center;
	height: 709px;
}

.sec_5_container {
	max-width: 953px;
	width: 100%;
	display: flex;
	flex-direction: column;
	max-height: 330px;
	margin: 0 4px;
}
.sec_5_content {
	background: #FFFFFF;
	box-shadow: 0px 20px 0px rgba(95, 62, 138, 0.3);
	border-radius: 20px;
	display: flex;
	padding: 60px 0 60px 103px;
	
}

.sec_5_title {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 700;
	font-size: 40px;
	line-height: 130%;
	color: #FFFFFF;
	margin: 109px 0 88px 0;
}

.sec_5_content_title {
	margin: 20px 0 0 44px;
	display: flex;
	flex-direction: column;
}

.cont_title {
	font-family: 'Avenir Next Cyr Medium', sans-serif;
	font-weight: 900;
	font-size: 18px;
	line-height: 160%;
	letter-spacing: 0.005em;
	color: #212353;
}

.content_link {
	font-family: 'Avenir Next Cyr Medium', sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 160%;
	letter-spacing: 0.01em;
	color: #9C69E2;
	margin-bottom: 19px;
}

.content_subtitle {
	font-family: 'Avenir Next Cyr Thin', sans-serif;
	max-width: 566px;
	font-weight: 400;
	font-size: 16px;
	line-height: 180%;
	color: #4B5D68;
	display: flex;
	flex-grow: 1;
}

.figures {
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
}

.dot_red {
	width: 10px;
	height: 10px;
	background: #F063B8;
	border-radius: 50%;
}
.dot_white {
	width: 5px;
	height: 5px;
	background: #FFFFFF;
	border-radius: 50%;
}

.dots_container {
	max-width: 55px;
	width: 100%;
	display: flex;
	align-items: center;
	
}

.sec_5_dots {
	display: flex;
}

.sec_5_arrows_container {
	display: flex;
	
	
}

.sec_5_single_dot {
	margin-right: 5px;
}

.sec_5_left_arrow {
	margin-right: 20px;
}

.sec_5_button {
	border: 0;
	background-color: transparent;
}

hr {
	background: #9C69E2;
	opacity: 0.2;
	height: 2px;
	margin-bottom: 100px;
}

footer {
	margin-bottom: 90px;
}

.footte_section_1 {
	display: flex;
	align-items: center;
	margin-bottom: 150px;
	justify-content: space-between;
}

.ft_title {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 700;
	font-size: 40px;
	line-height: 130%;
	margin-bottom: 20px;
	color: #212353;
}

.footer_subtitle {
	font-family: 'Avenir Next Cyr Medium', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	color: #4B5D68;
}

.ft_sec_1_second_button {
	background: #FFFFFF;
	box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
	border-radius: 50px;
	border: 0;
	color: #212353;
	font-family: 'Avenir Next Cyr Medium', sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 160%;
	max-width: 210px;
	max-height: 60px;
	width: 100%;
	padding: 17px 29px;
	padding-right: 0;
	text-align: left;
}

.ft_sec_1_second_button:hover {
	background-color: #d1d1d1;
	box-shadow: none;
}

.ft_sec_1_second_button:active {
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(75, 93, 104, 0.1);
}

.last_button::after {
	content: '';
	background: url(../img/article_arrow.svg) 0 0/20px 20px no-repeat;
	padding-right: 29px;
	vertical-align: middle;
	margin-left: 20px;
}

.ft_sec_1_first_button {
	max-width: 170px;
	width: 100%;
	padding: 16px 0;
	background: #F063B8;
	border-radius: 50px;
	border: 0;
	font-family: 'Avenir Next Cyr Medium', sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 160%;
	color: #FFFFFF;
	margin-right: 30px;
}

.ft_sec_1_first_button:hover {
	background: #9e4179;
}

.ft_sec_1_first_button:active {
	background: #F063B8;
	box-shadow: 0 0 5px #b3b3b3;
}

.ft_sc_1_buttons {
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
}

.footer_title {
	font-family: 'Avenir Next Cyr Medium', sans-serif;
	font-weight: 600;
	font-size: 20px;
	line-height: 160%;
	color: #212353;
	margin-left: 20px;
}

.ft_info {
	display: flex;
	align-items: center;
	margin-bottom: 65px;
}

.adress {
	font-family: 'Avenir Next Cyr Medium', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	color: #212353;
	margin-bottom: 10px;
}

.phone {
	font-family: 'Avenir Next Cyr Thin', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 180%;
	margin-bottom: 118px;
	letter-spacing: 0.01em;
	color: #212353;
}

.copyright {
	font-family: 'Avenir Next Cyr Thin', sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 180%;
	margin-bottom: 118px;
	letter-spacing: 0.01em;
	color: #212353;
}

.footer_section_2 {
	display: flex;
	justify-content: space-between;
}

.last_titles {
	font-family: 'Avenir Next Cyr Medium', sans-serif;
	font-weight: 600;
	line-height: 160%;
	font-size: 16px;
	margin:7px 0 30px 0;
}

.footer_subtitles {
	font-family: 'Avenir Next Cyr Thin', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 250%;
	letter-spacing: 0.01em;
	color: #212353;
}


.icons_container {
	width: 50px;
	height: 50px;
	background-color: rgba(128, 128, 128, 0.219);
	display: flex;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin-right: 14px;
	transition: all 0.2s;
}

.icons_container:hover {
	background-color: rgba(128, 128, 128, 0.7);
}

.social_links {
	overflow: hidden;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-right: 14px;
}

.icons_main {
	display: flex;
	flex-wrap: wrap;
}
.about_ft_inf {
	padding-left: 50px;
}

footer {
	margin: 0;
}

.messanger {
	box-shadow: 0 0 30px #ffffff41;
	background-color: #FFFFFF;
	border-radius: 50%;
}



.messanger_btn {
	position: fixed;
	max-width: 60px;
	max-height: 60px;
	bottom: 15px;
	right: 13px;
	z-index: 5;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: transparent;
	border-radius: 50%;
	overflow: hidden;
}