.big-buttons__button-after
	button.big-buttons__button-after--primary Download 
		svg(width='18' height='18' viewbox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M1 10V17H17V10' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
			path(d='M9 1.50073L9 11.5007' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
			path(d='M9 11.5007L12.375 8.12573' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
			path(d='M9 11.5007L5.625 8.12573' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
	button.big-buttons__button-after--disabled Download 
		svg(width='18' height='18' viewbox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M1 10V17H17V10' stroke='#878787' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
			path(d='M9 1.50073L9 11.5007' stroke='#878787' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
			path(d='M9 11.5007L12.375 8.12573' stroke='#878787' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
			path(d='M9 11.5007L5.625 8.12573' stroke='#878787' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
	button.big-buttons__button-after--secondary Download 
		svg(width='18' height='18' viewbox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M1 10V17H17V10' stroke='#2C2C2C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
			path(d='M9 1.50073L9 11.5007' stroke='#2C2C2C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
			path(d='M9 11.5007L12.375 8.12573' stroke='#2C2C2C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
			path(d='M9 11.5007L5.625 8.12573' stroke='#2C2C2C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
	button.big-buttons__button-after--focused Download 
		svg(width='18' height='18' viewbox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M1 10V17H17V10' stroke='#18A0FB' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
			path(d='M9 1.50073L9 11.5007' stroke='#18A0FB' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
			path(d='M9 11.5007L12.375 8.12573' stroke='#18A0FB' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
			path(d='M9 11.5007L5.625 8.12573' stroke='#18A0FB' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')