.buttonsBig__container
	button.buttonsBig__button--primary Download
	button.buttonsBig__button--disabled Download
	button.buttonsBig__button--secondary Download
	button.buttonsBig__button--focused Download