.othersSmall
	.othersSmall_cont1 
		button.othersSmall__tab Tab 1
		button.othersSmall__tab--transparent Tab 2
		button.othersSmall__search--red <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M9.16663 5.83329C7.32568 5.83329 5.83329 7.32568 5.83329 9.16663C5.83329 11.0075 7.32568 12.5 9.16663 12.5C11.0075 12.5 12.5 11.0075 12.5 9.16663C12.5 7.32568 11.0075 5.83329 9.16663 5.83329ZM4.16663 9.16663C4.16663 6.4052 6.4052 4.16663 9.16663 4.16663C11.928 4.16663 14.1666 6.4052 14.1666 9.16663C14.1666 10.2465 13.8243 11.2464 13.2422 12.0637L16.4225 15.244C16.748 15.5695 16.748 16.0971 16.4225 16.4225C16.0971 16.748 15.5695 16.748 15.244 16.4225L12.0637 13.2422C11.2464 13.8243 10.2465 14.1666 9.16663 14.1666C6.4052 14.1666 4.16663 11.928 4.16663 9.16663Z" fill="white"/>
												</svg>
		button.othersSmall__search--green <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path fill-rule="evenodd" clip-rule="evenodd" d="M11 7C8.79086 7 7 8.79086 7 11C7 13.2091 8.79086 15 11 15C13.2091 15 15 13.2091 15 11C15 8.79086 13.2091 7 11 7ZM5 11C5 7.68629 7.68629 5 11 5C14.3137 5 17 7.68629 17 11C17 12.2958 16.5892 13.4957 15.8907 14.4765L19.7071 18.2929C20.0976 18.6834 20.0976 19.3166 19.7071 19.7071C19.3166 20.0976 18.6834 20.0976 18.2929 19.7071L14.4765 15.8907C13.4957 16.5892 12.2958 17 11 17C7.68629 17 5 14.3137 5 11Z" fill="white"/>
														</svg>
	.othersSmall_cont2
		button.othersSmall__search--focus <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path fill-rule="evenodd" clip-rule="evenodd" d="M6 2C3.79086 2 2 3.79086 2 6C2 8.2091 3.79086 10 6 10C8.2091 10 10 8.2091 10 6C10 3.79086 8.2091 2 6 2ZM0 6C0 2.68629 2.68629 0 6 0C9.3137 0 12 2.68629 12 6C12 7.2958 11.5892 8.4957 10.8907 9.4765L14.7071 13.2929C15.0976 13.6834 15.0976 14.3166 14.7071 14.7071C14.3166 15.0976 13.6834 15.0976 13.2929 14.7071L9.4765 10.8907C8.4957 11.5892 7.2958 12 6 12C2.68629 12 0 9.3137 0 6Z" fill="white"/>
														</svg>
		button.othersSmall__search <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path fill-rule="evenodd" clip-rule="evenodd" d="M6 2C3.79086 2 2 3.79086 2 6C2 8.2091 3.79086 10 6 10C8.2091 10 10 8.2091 10 6C10 3.79086 8.2091 2 6 2ZM0 6C0 2.68629 2.68629 0 6 0C9.3137 0 12 2.68629 12 6C12 7.2958 11.5892 8.4957 10.8907 9.4765L14.7071 13.2929C15.0976 13.6834 15.0976 14.3166 14.7071 14.7071C14.3166 15.0976 13.6834 15.0976 13.2929 14.7071L9.4765 10.8907C8.4957 11.5892 7.2958 12 6 12C2.68629 12 0 9.3137 0 6Z" fill="#2C2C2C"/>
														</svg>
		button.othersSmall__search--last <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path fill-rule="evenodd" clip-rule="evenodd" d="M6 2C3.79086 2 2 3.79086 2 6C2 8.2091 3.79086 10 6 10C8.2091 10 10 8.2091 10 6C10 3.79086 8.2091 2 6 2ZM0 6C0 2.68629 2.68629 0 6 0C9.3137 0 12 2.68629 12 6C12 7.2958 11.5892 8.4957 10.8907 9.4765L14.7071 13.2929C15.0976 13.6834 15.0976 14.3166 14.7071 14.7071C14.3166 15.0976 13.6834 15.0976 13.2929 14.7071L9.4765 10.8907C8.4957 11.5892 7.2958 12 6 12C2.68629 12 0 9.3137 0 6Z" fill="#2C2C2C"/>
														</svg>
	.othersSmall_cont3
		button.othersSmall__sizeS S
		button.othersSmall__sizeM M
		button.othersSmall__sizeL L
