.buttonsSmall__container
	button.buttonsSmall__button--primary Download
	button.buttonsSmall__button--disabled Download
	button.buttonsSmall__button--secondary Download
	button.buttonsSmall__button--focused Download