.buttonsSmall__container 
	button.buttonsSmall-before__button--red 
		span 
			svg(width='16' height='15' viewbox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(d='M1.33331 8V13.8333H14.6666V8' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
				path(d='M8 0.917277L8 9.25061' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
				path(d='M8 9.25061L10.8125 6.43811' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
				path(d='M8 9.25061L5.1875 6.43811' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
		span Download
	button.buttonsSmall-before__button--disabled 
		span 
			svg(width='16' height='15' viewbox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(d='M1.33331 8V13.8333H14.6666V8' stroke='#878787' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
				path(d='M8 0.917277L8 9.25061' stroke='#878787' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
				path(d='M8 9.25061L10.8125 6.43811' stroke='#878787' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
				path(d='M8 9.25061L5.1875 6.43811' stroke='#878787' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
		span Download
	button.buttonsSmall-before__button--secondary 
		span 
			svg(width='16' height='15' viewbox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(d='M1.33331 8V13.8333H14.6666V8' stroke='#2C2C2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
				path(d='M8 0.917277L8 9.25061' stroke='#2C2C2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
				path(d='M8 9.25061L10.8125 6.43811' stroke='#2C2C2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
				path(d='M8 9.25061L5.1875 6.43811' stroke='#2C2C2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
		span Download
	button.buttonsSmall-before__button--focused 
		span 
			svg(width='16' height='15' viewbox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(d='M1.33331 8V13.8333H14.6666V8' stroke='#18A0FB' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
				path(d='M8 0.917277L8 9.25061' stroke='#18A0FB' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
				path(d='M8 9.25061L10.8125 6.43811' stroke='#18A0FB' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
				path(d='M8 9.25061L5.1875 6.43811' stroke='#18A0FB' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
		span Download